#medicinePage {
  margin-top: 5%;
}

#medicines {
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
}

#meddetail{
    margin-left: 5px;
    width: 99%;
}


#myMedRow{
  width:99vw;
}

#medicineCard1{
  width: "30vw";
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.2s;
}

#medicineCard1:hover{
  scale: 1.01;
  box-shadow: rgba(84, 84, 84, 0.24) 0px 3px 8px;
}

#medicineCard {
  text-align: left;
}

#mdes {
  opacity: 0.6;
}


#viewsbtn{
  width: 200px;
}

#medImgs{
  width: min-content;
}

.marginTops{
  margin-top: 5%;
}

@media (max-width:450px){
  #medicinePage{
    margin-top: 13%;
  }

  #medicineCard1{
    width: 340px;
  }

  #viewsbtn{
    width: 200px;
  }
  
  .marginTops{
    margin-top: 12%;
  }

  #meddetail1{
    margin-bottom: 30px;
  }
}