.footer {
  width: 100%;
  position: relative;
  bottom: 0;
  left: 0;
  margin: 20px 0px 0px 0px;
}
.seperator {
  min-height: 30vh;
}
#container {
  margin: 0;
  padding: 0;
  color: rgb(50, 50, 50);
  background: rgba(185, 236, 245, 0.934);
  border: 1px solid transparent;
  padding-top: 15px;
  width: 99vw;
}

.footer a{
  color: rgb(50, 50, 50);
}
