/* Add these styles to your global CSS or import a separate CSS file */

h3 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  /* background-color: #fff; */
}

.container h4 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.d-flex {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.m-2 {
  margin: 10px;
}

.w-50 {
  width: 50%;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-dark {
  background-color: #343a40;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
}

.btn-dark:hover {
  background-color: #1d2124;
}

/* Adjust DatePicker and TimePicker styles */
.ant-picker {
  width: 100%;
  margin: 10px 0;
}

/* Override Ant Design's default date format */
.ant-picker-input > input {
  text-align: center;
}

/* Ensure proper alignment for button container */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

/* Optional: Add spacing between buttons */
.button-container button {
  margin-top: 10px;
}

#userDoctor1 {
  padding-left: 10px;
  margin-top: 4%;
  max-width: 99%;
}
#links {
  color: #fff;
}
#links:hover {
  color: #fff;
  text-decoration: none;
}
.ConsultHead {
  min-width: 98%;
  border-radius: 5px;
  font-size: 22px;
  min-height: 65px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 17px;
  color: #fff;
  background: linear-gradient(
      217deg,
      rgba(88, 228, 197, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 128, 255, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}

#seperator {
  min-height: 10vh;
}

#videoCon {
  margin-left: 5%;
  max-width: 90%;
}
#btncontainervideo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#videoBtn {
  min-height: 50px;
  min-width: 100px;
}

@media (max-width: 450px) {
  #userDoctor1 {
    padding-left: 10px;
    margin-top: 15%;
    max-width: 350px;
  }
  #videoCon {
    margin-left: 0%;
    max-width: 340px;
  }
}
